<div class="row bg000 colfff site-footer">
    <div class="text-center ptb20">
        Hosted at <a href="https://github.com/ankit31894/voting-app">Github</a>
    </div>
    <div class="text-center ptb20">
        <a href="https://github.com/ankit31894">Follow me at Github</a> | <a href="https://www.linkedin.com/in/ankit-0b2020122">Connect on LinkedIn</a>
    </div>
</div>
