<!doctype html>
<html ng-app="sampleApp">
<head>
    <% include ./head-tag %>
</head>
<body class="container-fluid">
	<div class="page-wrap">
	    <% include ./header %>
	    <div ng-view style="overflow:auto;"></div>
    </div>
    <% include ./footer %>
</body>
</html>
