<div ng-if="_getPolls">Loading</div>
<div ng-if="errorOnPoll">{{E_getPolls}} <a href="#" ng-click="getPolls()">Try Again</a></div>
<div ng-repeat="(key, value) in polls" class="col-sm-offset-1 col-sm-10">
  <a href="/poll/{{value._id}}" class="col-xs-12 ptb15 text-center transitioned heee">
    {{value.pollText}}
  </a>
  <span ng-click="removePoll(value._id,key)" class="col-xs-12 ptb15 text-center transitioned heee">
    Remove Poll
  </span>
  <div ng-if="_removePoll">Loading</div>
  <div ng-if="E_removePoll">{{E_removePoll}} <a href="#" ng-click="removePoll(value_.id,key)">Try Again</a></div>

</div>