<div ng-if="_getPoll">Loading</div>
<div ng-if="E_getPoll">{{E_getPoll}} <a href="#" ng-click="getPoll()">Try Again</a></div>
<div ng-if="_getLoggedStatus">Checking Logged In Status</div>
<div ng-if="E_getLoggedStatus">{{E_getLoggedStatus}} <a href="#" ng-click="getLoggedStatus()">Try Again</a></div>

    <section class="col-sm-3 polls-grid">
        <form ng-if="logged" ng-submit="submitOption()" class="polls-grid__box mtb15">
            <div class="polls-grid__title mb15">
                Create Option
            </div>
            <input name="poll" ng-model="formData.optionText" placeholder="Create New Option" class="polls-grid__input small pt15">
            <div class="polls-grid__details polls-grid__details--date pt15 small">
                <button type="submit" class="ptb10 btn-primary">Submit</button>
                <span  ng-if="_submitOption">
                    Loading
                </span>
                <span  ng-if="E_submitOption">
                    {{E_submitOption}} <a href="#" ng-click="submitOption()">Try Again</a>
                </span>
            </div>
        </form>
    </section>

    <div class=" col-sm-6 text-center chart-container">
     <canvas id="myChart" ></canvas>
    </div>

    <section class="col-sm-3 polls-grid">
        <form ng-submit="insertVote()" class="polls-grid__box mtb15">
            <div class="polls-grid__title mb15">
                Vote
            </div>
            <div class="poll-grid__select-container">
                <select ng-model="selected.option" ng-options="k as k.optionText for k in options" class="polls-grid__select small" >
                </select>
            </div>
            <div class="polls-grid__details polls-grid__details--date pt15 small">
                <button type="submit" class="ptb10 btn-primary">Vote</button>
                <span  ng-if="_insertVote">
                    Loading
                </span>
                <span  ng-if="E_insertVote">
                    {{E_insertVote}} <a href="#" ng-click="insertVote()">Try Again</a>
                </span>
            </div>
        </form>
    </section>
