<div ng-if="_getPolls">Loading</div>
<div ng-if="errorOnPoll">{{E_getPolls}} <a href="#" ng-click="getPolls()">Try Again</a></div>
<section ng-if="logged" class="col-sm-3 col-md-2 polls-grid">
    <form ng-submit="insertPoll()" class="polls-grid__box mtb15">
        <div class="polls-grid__title mb15">
            Create Poll
        </div>
        <input name="poll" ng-model="formData.pollText" placeholder="Create New Poll" class="polls-grid__input small pt15">
        <div class="polls-grid__details polls-grid__details--date pt15 small">
            <button type="submit" class="ptb10 btn-primary">Submit</button>
            <span  ng-if="_insertPoll">
                Loading
            </span>
            <span  ng-if="E_insertPoll">
                {{E_insertPoll}} <a href="#" ng-click="insertPoll()">Try Again</a>
            </span>
        </div>
    </form>
</section>
<section ng-repeat="(key, value) in polls" class="col-sm-3 col-md-2 polls-grid">
    <a href="/poll/{{value._id}}" class="polls-grid__box mtb15">
        <div class="polls-grid__title mb15">
            {{value.pollText}}
        </div>
        <div ng-pluralize class="polls-grid__details small " count="value.noOfOptions"
            when="{'0': '0 Choices',
            'one': '1 Choice',
            'other': '{} Choices'}">
        </div>
        <div ng-pluralize  class="polls-grid__details small mb15" count="value.noOfVotes"
                 when="{'0': 'Nobody Voted! Why dont you?',
                     'one': '1 person has voted',
                     'other': '{} people have already voted'}">
        </div>
        <div class="polls-grid__details polls-grid__details--date pt15 small">
            {{value.createdAt | date : "dd MMM, yyyy"}}
        </div>
    </a>
</section>
