<div class="row colfff footer">
    <div class="text-center ptb20">
        Hosted at <a class="footer__link" href="https://github.com/ankitbug94/voting-app">Github</a>
    </div>
    <div class="text-center ptb20">
        <a href="https://github.com/ankitbug94" class="footer__link">Follow me at Github</a> | <a  class="footer__link" href="https://www.linkedin.com/in/ankit-0b2020122">Connect on LinkedIn</a>
    </div>
</div>
