$ccc:ccc;

a{
    text-decoration: none !important;
}
html{
    height:100%;
}
body{
    font-family: 'Roboto', sans-serif;
    height:100%;
}
/* taken from https://css-tricks.com/snippets/css/sticky-footer/*/
.page-wrap {
  min-height: 100%;
  /* equal to footer height */
  margin-bottom: -142px; 
}
.page-wrap:after {
  content: "";
  display: block;
}
.site-footer, .page-wrap:after {
  height: 142px; 
}
.site-footer {
  background: orange;
}
@mixin mypadding($padding) {
    padding-top:$padding;
    padding-bottom:$padding;
}
@mixin mymargin($margin) {
    margin-top:$margin;
    margin-bottom:$margin;
}

@mixin animate($time){
    webkit-transition: all $time linear;
    -kthtml-transition: all $time linear;
    -webkit-transition:all $time linear;
    transition: all $time linear;
}
.transitioned{
    @include animate(0.2s);
}
.ptb30{
    @include mypadding(30px);
}
.ptb10{
    @include mypadding(10px);
}
.colfff{
    color:#fff;
}
.bg000{
    background:#000;
}
.ptb5{
    @include mypadding(5px);
}
.mt30{
    margin-top:30px;
}
.mtb20{
    @include mymargin(20px);
}
.ptb15{
    @include mypadding(15px);
}
.ptb20{
    @include mypadding(20px);
}
.header{
    background: #902000;
    color:#fff;
}
.heee:hover{
    background-color: #eee;
}
