a, a:hover {
  text-decoration: none;
  color: #000;
  transition: ease-in 0.2s;
}

a:hover {
  color: #666;
}

ol, ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

html, body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
}

a {
  text-decoration: none !important;
}

html {
  height: 100%;
}

body {
  font-family: 'Roboto', sans-serif;
  height: 100%;
}

.colfff {
  color: #fff;
}

.coleee, .colfff:hover {
  color: #eee;
}

.colddd, .coleee:hover {
  color: #ddd;
}

.colccc, .colddd:hover {
  color: #ccc;
}

.col999, .colccc:hover {
  color: #999;
}

.col666, .col999:hover, .col000:hover {
  color: #666;
}

.col333, .col666:hover {
  color: #333;
}

.col000 {
  color: #000;
}

.match-my-cols {
  overflow: hidden;
}
.match-my-cols > [class*="col-"] {
  margin-bottom: -99999px;
  padding-bottom: 99999px;
}

.mt0 {
  margin-top: 0px;
}

.mt15 {
  margin-top: 15px;
}

.mt30 {
  margin-top: 30px;
}

.mb15 {
  margin-bottom: 15px;
}

.mb30 {
  margin-bottom: 30px;
}

.ml15 {
  margin-left: 15px;
}

.pt0 {
  padding-top: 0px;
}

.pt15 {
  padding-top: 15px;
}

.pt30 {
  padding-top: 30px;
}

.pt50 {
  padding-top: 50px;
}

.pb15 {
  padding-bottom: 15px;
}

.pb30 {
  padding-bottom: 30px;
}

.ptb50 {
  padding-top: 50px;
  padding-bottom: 50px;
}

.ptb30 {
  padding-top: 30px;
  padding-bottom: 30px;
}

.ptb15 {
  padding-top: 15px;
  padding-bottom: 15px;
}

.plr15 {
  padding-left: 15px;
  padding-right: 15px;
}

.mtb15 {
  margin-top: 15px;
  margin-bottom: 15px;
}

.mtb30 {
  margin-top: 30px;
  margin-bottom: 30px;
}

.ptb100 {
  padding-top: 100px;
  padding-bottom: 100px;
}

.ptb15 {
  padding-top: 15px;
  padding-bottom: 15px;
}

.ptb20 {
  padding-top: 20px;
  padding-bottom: 20px;
}

.header {
  overflow: auto;
  /* CSS declarations for `.block` */
}
.header__sections {
  fill: black;
  transition: all 0.25s;
  opacity: 0;
  transform: rotate(60deg);
  transform-origin: 300px 260px;
}
.header__hex {
  transform-origin: 50% 50%;
  transition: all 0.25s;
  transition-timing-function: ease;
  fill: #ddd;
  stroke: rgba(0, 0, 0, 0.1);
  stroke-width: 5;
}
.header__logo {
  transition: all 0.15s;
  transform: scale(1);
  transform-origin: 300px 260px;
}
.header__labels {
  font-family: sans-serif;
  font-size: 30px;
  fill: rgba(0, 0, 0, 0.5);
  transform-origin: 300px 260px;
  transform: scale(0.5);
  opacity: 0;
  transition: all 0.25s;
  transition-delay: 0.1s;
}
.header__link {
  transition: all 0.25s;
  opacity: 0;
}
.header__link--1 {
  transform: translate(300px, 60px);
}
.header__link--2 {
  transform: translate(475px, 165px) rotate(60deg);
}
.header__link--3 {
  transform: translate(470px, 360px) rotate(120deg);
}
.header__link--4 {
  transform: translate(300px, 460px) rotate(180deg);
}
.header__link--5 {
  transform: translate(130px, 360px) rotate(240deg);
}
.header__link--6 {
  transform: translate(130px, 165px) rotate(300deg);
}
.header__section {
  animation: fade 1s infinite alternate;
  fill: rgba(0, 0, 0, 0.1);
  opacity: 0;
  transition: all 0.25s;
}
.header__section--1 {
  opacity: 0.4;
  animation-delay: 0.1s;
}
.header__section--2 {
  opacity: 0.5;
  animation-delay: 0.2s;
}
.header__section--3 {
  opacity: 0.6;
  animation-delay: 0.3s;
}
.header__section--4 {
  opacity: 0.7;
  animation-delay: 0.4s;
}
.header__section--5 {
  opacity: 0.8;
  animation-delay: 0.5s;
}
.header__section--6 {
  opacity: 0.9;
  animation-delay: 0.6s;
}
.header__button {
  cursor: pointer;
}
.header__button:hover .header__hex {
  transform: rotate(60deg);
  transform: scale(1.2);
  fill: #fff;
  animation: none;
}
.header__button:hover .header__labels {
  transform: scale(1);
  opacity: 1;
}
.header__button:hover .header__section:hover {
  transform: scale(1);
  fill: rgba(0, 200, 200, 0.5);
  opacity: 1;
}
.header__button:hover .header__sections {
  opacity: 1;
  transform: scale(2) rotate(60deg);
}
.header__button:hover .header__sections:hover .header__section {
  animation: none;
}
.header__button:hover .header__link {
  opacity: 1;
}

@keyframes fade {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes pulse {
  0% {
    stroke-width: 1;
    transform: scale(1);
  }
  100% {
    stroke-width: 5;
    transform: scale(1.1);
  }
}
.polls-grid__box {
  background: #fff;
  padding: 15px;
  display: block;
  box-shadow: 1px 1px 6px 6px transparent;
}
.polls-grid__box:hover {
  transition: all 0.5s ease;
  box-shadow: 1px 1px 6px 6px #bbb;
}
.polls-grid__title {
  font-family: 'Roboto';
  display: block;
  font-weight: bold;
}
.polls-grid__details {
  color: #A1A1A4;
}
.polls-grid__details--date {
  border-top: solid 1px #efefef;
}
.polls-grid__input {
  border: none;
}
.polls-grid__input:focus {
  outline: none;
}
.polls-grid__select-container {
  padding: 0;
  margin: 0;
  border: 1px solid #ccc;
  border-radius: 3px;
  overflow: hidden;
  background-color: #fff;
  background: #fff url("http://www.scottgood.com/jsg/blog.nsf/images/arrowdown.gif") no-repeat 90% 50%;
}
.polls-grid__select {
  padding: 5px 8px;
  width: 100%;
  border: none;
  box-shadow: none;
  background-color: transparent;
  background-image: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}
.polls-grid__select:focus {
  outline: none;
}

.chart-container {
  border: solid 1px;
  border-color: transparent #ccc transparent #ccc;
}

.sidebar {
  /* CSS declarations for `.block` */
  position: relative;
  z-index: 5;
  border-right: solid 1px #ccc;
}
.sidebar__option {
  font-family: 'Rancho', cursive;
  font-size: 40px;
  font-weight: 800;
  /* CSS declarations for `.block__element` */
}
.sidebar__blog-title-container {
  padding: 20px;
}
.sidebar__mobile-nav {
  line-height: 50px;
  display: inline-block;
  background-color: rgba(0, 0, 0, 0.1);
}
.sidebar--bg {
  box-shadow: 0px 3px 0 0 #a7dbd8;
}
.sidebar--bg #mc-embedded-subscribe {
  color: #fff;
}

.footer, .page-wrap:after {
  height: 142px;
}

.footer {
  background: #000;
}
.footer__link {
  color: #ccc;
}

/* taken from https://css-tricks.com/snippets/css/sticky-footer/*/
.page-wrap {
  min-height: 100%;
  /* equal to footer height */
  margin-bottom: -142px;
  background: #EFEFEF;
}

.page-wrap:after {
  content: "";
  display: block;
}

/*# sourceMappingURL=style.max.css.map */
